body{
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: #f0f0f0;
  margin: 0;
  padding: 20px;
}

#clickBtn{
  position: absolute;
  padding: 15px 25px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 18px;
}